@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* Box Model */
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Layout e Posicionamento */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fundo e Estética */
  background: url('https://cdn.pixabay.com/photo/2022/06/20/14/20/space-7273891_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  /* Reset e Box Model */
  width: 100%; /* Ajusta para o tamanho total do container pai */
  max-width: 1200px; /* Limita a largura máxima */
  min-height: 100vh; /* Garante que a altura do container ocupe toda a altura da tela */
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
  
  /* Fundo */
  background: whitesmoke;

  /* Layout de Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexibilidade no número de colunas */
  gap: 20px; /* Espaçamento entre os cards */
}

/* Card de Produto */
.product-card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  padding: 16px;
  text-align: center;
  overflow: hidden;
  width: 600px;
}

.product-card img {
  width: auto;
  height: auto;
  object-fit: cover; /* Ajusta as imagens sem distorcer */
  border-radius: 10px;
}
